# Environment variables
.env.local
.env.*.local
.env*
.nvmrc
.vscode
node_modules
contracts/node_modules

# Hardhat
contracts/artifacts
contracts/cache
contracts/typechain
contracts/typechain-types

# Hardhat Ignition
contracts/ignition/deployments

# Frontend
frontend/node_modules
frontend/dist
frontend/build



# NFT Tools builds
nft-tools/test-*
nft-tools/test-whales
nft-tools/test-sharks

.DS_Store